body
{
    color:blueviolet; 
    text-align: center;
    font-family: "Maiandra GD";

}

#cabecera
{
    background:grey;
    box-shadow: 0px 5px 20px 0px rgb(0,0,0,5);
    color:white;
    font-Weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align:left;
}