body
{
    color:blueviolet; 
    text-align: center;
    font-family: "Maiandra GD";

}

#cabecera
{
    background:grey;
    box-shadow: 0px 5px 20px 0px rgb(0,0,0,5);
    color:white;
    font-Weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align:left;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align:left;
    border: 1px solid;
    margin: 0 auto;
}

#container h1
{
    font-size: 26px;
}

#footer
{
    background: rgb(93, 181, 93);
    color: white;
    padding: 0.5em;    ;
    text-align: center;
    box-shadow: 0px 5px 20px 0px rgb(0,0,0,5);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}