body
{
    background: rgb(151, 141, 141);
    color:blueviolet; 
    text-align: center;
    font-family: "Maiandra GD";
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-Weight: bold;

}

#cabecera
{
    background:rgb(68, 137, 97);
    box-shadow: 0px 2px 20px 0 rgb(0,0,0,5);
    color:white;
    font-Weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align:left;
    font-size: 30px;
}

#cabecera #logo
{
    width: 85px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding:0 0 0 2em;
    font-weight: bold;
    font-size: 23px;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align:left;
    border: 1px solid #add;
    margin: 0 auto;
}

#container h1
{
    font-size: 26px;
}

#footer
{
    background: rgb(93, 181, 93);
    color: white;
    padding: 0.5em;    ;
    text-align: center;
    box-shadow: 0px 5px 20px 0px rgb(0,0,0,5);
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#post
{
    background:white;
    padding: 1em;
}